<%- contentFor( 'body') %>

<div class="jumbotron" style='background-color: lightblue;'>
    <div class="content">
        <div class="content-text">
            <h2>FirstApp</h2>
            <p>
                Aplicação desenvolvida como parte da cadeira Autoração Multimídia II do curso Sistemas e Mídias Digitais
            </p>
            </p>
        </div>
        <img src="images/imagemsobre.png" alt="ilustração">
    </div>
</div>