<%- contentFor( 'body') %>

<div class="jumbotron" style='background-color: lightblue;'>
    <div class="content">
        <div class="content-text">
            <h2>Bem vindo</h2>
            <p>Você pode testar a funcionalidade de cadastro na aba especificada</p>
        </div>
        <img src="images/imagemhome.png" alt="computador">
    </div>
</div>